<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.android.appgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".test.test2.test2Result"></activity>
        <activity android:name=".test.test2.test2MainActivity" />
        <activity android:name=".test.test3.test3Result" />

        <activity android:name=".test.test1.test1Result"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity android:name=".MapsActivity"></activity>
        <activity android:name=".test.test1.ExplainDementia"></activity>
        <activity android:name=".test.test1.test1MainActivity" />
        <activity android:name=".test.test3.test3MainActivity" />
        <activity android:name=".test.test2.Explain2Dementia" />
        <activity android:name=".Prevention.Prevention_5" />
        <activity android:name=".Prevention.Prevention_4" />
        <activity android:name=".Prevention.Prevention_3" />
        <activity android:name=".Prevention.Prevention_2" />
        <activity android:name=".FacilityInfoActivity" /> <!-- <activity android:name=".test.test1.ToolbarFragment" /> -->
        <activity android:name=".Prevention.Prevention_1" />

        <activity
            android:name=".game.game2.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game2.Main2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game2.Main3Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game2.ResultActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game2.Result2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game2.Result3Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game5.Game5MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game5.Game5ScoreActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game5.Game5StartImage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game7.MainActivityGame7"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".game.game3.MainGame3Activity" />
        <activity android:name=".game.game3.Main2Game3Activity" />
        <activity android:name=".game.game3.ResultGame3Activity" />
        <activity android:name=".Prevention.PreventionDetail" />
        <activity android:name=".Prevention.PreventionMainActivity" />
        <activity android:name=".game.game4.MainGame4Activity" />
        <activity android:name=".game.game4.OneActivity" />
        <activity android:name=".test.TestSelectActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".GameDetailActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".GameActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".test.TestActivity" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.game1.Main0Result"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game1.Main0Itwill"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game1.Main0Korea"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game1.Main0Animal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".game.game1.Main0Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>